name: CI

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Install composer and dependencies
        uses: php-actions/composer@v6

      - name: PHPUnit Tests
        uses: php-actions/phpunit@v3
        env:
          TEST_NAME: Tests
          XDEBUG_MODE: coverage
        with:
          bootstrap: vendor/autoload.php
          configuration: phpunit.xml
          php_extensions: xdebug
          args: ${{ github.event_name == 'pull_request' && '--coverage-text' || '--coverage-html reports' }}
          # args: tests --coverage-clover ./coverage.xml
        env:
          XDEBUG_MODE: coverage

      - run: ls -al
        
      - name: "Coverage Report - Comment Pull Request"
        if: ${{ github.event_name == 'pull_request' }}
        uses: danhunsaker/clover-reporter-action@v0.2.17-clover
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          clover-file: ./clover.xml

      - run: ls -al

      - name: "Coverage Report - Upload Coverage Report"
        if: ${{ github.event_name != 'pull_request' }}
        uses: actions/upload-artifact@v2
        with:
          name: coverage-report
          path: ./reports/**/*.*
